.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #7785DB;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Avenir Next";
    border-radius: 24px;
    height: 42px;
    cursor: pointer;
    border: 1px solid #7785DB;
}

.main{
    background-color: #7785DB;
    color: white;

}

.outline{
    color: #7785DB;
    background-color: #F2F4FF;

}

.button-icon{
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-right: 6px;
}