.modal{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: white;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    
}

.modal-header{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.modal-close-button{
    width: 24px;
    height: 24px;
    background-image: url("../../../public/images/close.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}